{% extends "base.html" %}
{% from 'forms.html' import textinput %}

{% block header %}
  {% assets "css_calendar" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
  {% endassets %}
{% endblock %}

{% block content %}
    <h1>Preview your calendar.</h1>
    <!-- Modal button -->
    <button class="next btn btn-lg" data-toggle="modal" data-target="#myModal">
      That looks right.
    </button>
    <div id='calendar'></div>

    <!-- Dialog on event click -->
    <div id="dialog" title="Title" style="display: none;">
        <p><strong>Description:</strong><br><span id="description">Description</span></p>
        <p><strong>Where: </strong><span id="location">Location</span></p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon ion-close-round"></i></button>
            <h1 class="modal-title">Choose your calendar client.</h1>
            <a href="#" id="gcal"><img src="{{ url_for('static', filename='img/gmail_logo.svg') }} " alt="Google Calendar" title="Google Calendar"></a>
            <a href="#" id="ical"><img src="{{ url_for('static', filename='img/ical_logo.png') }} " alt="iCal" title="iCal"></a>
            <a href="#" id="outlook"><img src="{{ url_for('static', filename='img/outlook_logo.svg') }} " alt="Outlook" title="Outlook"></a>
          </div>

          <div id="gcal-instructions" class="modal-body">
            <ol>
              <li>Enter a new calendar name.
                  {{ textinput('<input type="text" required></input>', 'Calendar name', animate=False) }}
              </li>
              <li>Click on the link below. It's possible you'll have to allow pop-ups.</li>
            </ol>
            <button class="next btn btn-lg" calendar="gcal">Export Calendar.</button>
          </div>

          <div id="ical-instructions" class="modal-body">
            <ol>
              <li>Download the calendar from the link below.</li>
              <li>If you want, create a new calendar for the events.<br>
                  <em>You really should.</em></li>
              <li>Go to <strong>File > Import > Import</strong>.</li>
              <li>Locate and select the downloaded calendar, then click <strong>Import</strong>.</li>
              <li>Choose the calendar to add the events to.</li>
            </ol>
            <button class="next btn btn-lg" calendar="ics">Download Calendar.</button>
          </div>

          <div id="outlook-instructions" class="modal-body">
            <ol>
              <li>Download the calendar from the link below.</li>
              <li>Go to <strong>File > Open > Import</strong>.</li>
              <li>Highlight "Import an iCalendar (.ics) or vCalendar file (.vcs)" and click <strong>Next</strong>.</li>
              <li>Locate and select the downloaded calendar, then click <strong>OK</strong>.</li>
              <li>Select either <strong>Open as New</strong> (<em>recommended</em>) or <strong>Import</strong>:
                <ul>
                  <li><strong>Open as New</strong> will open the file as a separate calendar.</li>
                  <li><strong>Import</strong> will open the file in your Personal Exchange calendar.</li>
                </ul>
              </li>
            </ol>
            <button class="next btn btn-lg" calendar="ics">Download Calendar.</button>
          </div>

          <div id="download-error" class="modal-body">
            An error occured. Sorry.
            <br>
            The administrator has been notified.
          </div>

          <div class="modal-footer">
            <a href="/share" class="next btn btn-lg">Share this with Friends!</a>
          </div>

        </div>
      </div>
    </div>
{% endblock %}


{% block scripts %}
  <script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
  <script>
      var COURSES = {{ courses|safe }};
      var FORMATTER = {{ formatter|safe }};
      // From http://flask.pocoo.org/docs/0.10/patterns/jquery/
      var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  {% assets "js_calendar" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
  </head>
{% endblock %}
