  <div class="wizard" step={{ step }}>

    <div class="wizard-step" disabled="disabled">
        {% with icon = 'fa-info' %} {% include "step.html" %} {% endwith %}
    </div>
    <div class="wizard-step" disabled="disabled">
        {% with icon = 'fa-sign-in' %} {% include "step.html" %} {% endwith %}
    </div>
    <div class="wizard-step" disabled="disabled">
        {% with icon = 'fa-calendar' %} {% include "step.html" %} {% endwith %}
    </div>
    <div class="wizard-step" disabled="disabled">
        {% with icon = 'fa-heart' %} {% include "step.html" %} {% endwith %}
    </div>
  </div>
{# <div class="stepwizard">
  <div class="stepwizard-row setup-panel">
  </div>
</div>
 #}