.wizard {
  padding-top: 50px;
  text-shadow: 0 0 0;
}

.wizard-step {
    display: inline-block;
    text-align: center;
    position: relative;
}

.wizard-step span > i:nth-child(3) {
  display: none;
}

/*
 * Hover stuff for V2
*/
/*
.wizard-step a:hover span > i:nth-child(3) {
  display: none;
}

.wizard-step a[disabled]:hover span > i:nth-child(3) {
  display: inherit;
}
*/

.wizard-step[disabled] span > i:first-child {
    color: #B6B6B6;
}

.wizard-step span > i:first-child {
  color: #0092D7;
}

.wizard-step[disabled] span > i:nth-child(2) {
  color: #333
}

.wizard-step i.fa-heart {
  color: #F44336;
}

@media (max-width: 768px) {
  .wizard-step span {
    font-size: 2em;
  }
  .logo {
    font-size: 2em;
  }
  .wizard {
    padding-bottom: 50px;
  }

}
